<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
</head>
<body>
    <div th:fragment="side-bar">
        <div class="sidebar">
            <nav class="sidebar-nav">
                <ul class="nav">
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/}">
                            <i class="nav-icon icon-speedometer"></i> HOME
                        </a>
                    </li>

                    <li class="nav-title">Cadastros</li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/admin/estabelecimentos}">
                            <i class="nav-icon icon-puzzle"></i> Estabelecimento</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/admin/categorias}">
                            <i class="nav-icon icon-puzzle"></i> Categorias</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/admin/fornecedores}">
                            <i class="nav-icon icon-puzzle"></i> Fornecedores</a>
                    </li>
                    <!--<li class="nav-item nav-dropdown">-->
                        <!--<a class="nav-link nav-dropdown-toggle" href="#">-->
                            <!--<i class="nav-icon icon-puzzle"></i> Base </a>-->
                        <!--<ul class="nav-dropdown-items">-->
                            <!--<li class="nav-item">-->
                                <!--<a class="nav-link" th:href="@{/admin/categorias}">-->
                                    <!--<i class="nav-icon icon-puzzle"></i> Categorias</a>-->
                            <!--</li>-->
                        <!--</ul>-->
                    <!--</li>-->
                </ul>
            </nav>
            <button class="sidebar-minimizer brand-minimizer" type="button"></button>
        </div>
    </div>
</body>
</html>