<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout">
<head>
</head>
<body>
<div layout:fragment="content">
    <main class="main">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">Home</li>
            <li class="breadcrumb-item">
                <a href="#">Admin</a>
            </li>
            <li class="breadcrumb-item active">Painel de Controle</li>

            <li class="breadcrumb-menu d-md-down-none">
                <div class="btn-group" role="group" aria-label="Button group">
                    <a class="btn" href="#">
                        <i class="icon-speech"></i>
                    </a>
                    <a class="btn" href="./">
                        <i class="icon-graph"></i> &nbsp;Painel de Controle</a>
                    <a class="btn" href="#">
                        <i class="icon-settings"></i> &nbsp;Configurações</a>
                </div>
            </li>
        </ol>
        <div class="container-fluid">
            <div class="animated fadeIn">
                <div class="card-columns cols-2">
                    <div class="card">
                        <div class="card-header">Vendas do Mês
                            <div class="card-header-actions">
                                <a class="card-header-action" href="#" target="_blank">
                                    <small class="text-muted">Relatório</small>
                                </a>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="chart-wrapper">
                                <canvas id="venda-mes-atual"></canvas>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header">Despesas do Mês
                            <div class="card-header-actions">
                                <a class="card-header-action" href="#" target="_blank">
                                    <small class="text-muted">Relatório</small>
                                </a>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="chart-wrapper">
                                <canvas id="despesa-mes-atual"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header">
                        Vendas x Despesas
                        <div class="card-body">
                            <canvas id="venda-x-despesa"></canvas>
                        </div>
                    </div>
                    <div class="card-columns cols-2">
                        <div class="card">
                            <div class="card-header">Produtos x Estabelecimento
                                <div class="card-header-actions">
                                    <a class="card-header-action" href="#" target="_blank">
                                        <small class="text-muted">Relatório</small>
                                    </a>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="chart-wrapper">
                                    <canvas id="produtos-estabelecimento"></canvas>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header">Categoria x Vendas
                                <div class="card-header-actions">
                                    <a class="card-header-action" href="#" target="_blank">
                                        <small class="text-muted">Relatório</small>
                                    </a>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="chart-wrapper">
                                    <canvas id="categoria-vendas"></canvas>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>
</body>
</html>