<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login - Stockfy</title>
    <div th:replace="fragments/header :: header-load"></div>
</head>

<body class="app flex-row align-items-center">
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card-group">
                <div class="card p-4">
                    <div class="card-body">
                        <h1>Login</h1>
                        <p class="text-muted">Entre na sua conta</p>
                        <form th:action="@{/login}" method="POST">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                  <i class="icon-user"></i>
                                </span>
                            </div>
                            <input class="form-control" type="text" placeholder="Usuário" name="login" autofocus="autofocus">
                        </div>
                        <div class="input-group mb-4">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                  <i class="icon-lock"></i>
                                </span>
                            </div>
                            <input class="form-control" type="password" placeholder="Senha" name="senha">
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <button class="btn btn-primary px-4" type="submit">Entrar</button>
                            </div>
                            <div class="col-6 text-right">
                                <a th:href="@{/recuperarSenha}" class="btn btn-link px-0">Perdeu a senha?</a>
                            </div>
                        </div>
                        </form>
                    </div>
                </div>
                <div class="card text-white bg-primary py-5 d-md-down-none">
                    <img th:src="@{/images/brand.png}" style="padding-top: 5%; margin: 5%; object-fit: contain" />
                </div>
            </div>
        </div>
    </div>
</div>
<div th:replace="fragments/footer :: footer-load"></div>
</body>
</html>