
<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    <title>Login - Stockfy</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.css}">
    <link rel="stylesheet" th:href="@{/webjars/bootswatch-flatly/4.1.3/bootstrap.min.css}">
    <!--META-INF/resources/webjars/bootswatch-flatly/4.1.3/bootstrap.css-->

    <!-- Custom img for this template -->
    <link rel="stylesheet" th:href="@{/css/login.css}">
</head>

<body>
<form class="form-signin">
    <div class="text-center mb-4">
        <img class="mb-4" th:src="@{/images/brand.png}" alt="" height="72">
        <h1 class="h3 mb-3 font-weight-normal"></h1>
        <p></p>
    </div>

    <div class="form-label-group">
        <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
        <label for="inputEmail">Email address</label>
    </div>

    <div class="form-label-group">
        <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
        <label for="inputPassword">Password</label>
    </div>

    <div class="checkbox mb-3">
        <label>
            <input type="checkbox" value="remember-me"> Remember me
        </label>
    </div>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
    <p class="mt-5 mb-3 text-muted text-center">&copy; 2018</p>
</form>
</body>
</html>