<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout">
<head>
    <meta charset="UTF-8">
    <title>400</title>
</head>
<body>
<div layout:fragment="content">
    <main class="main">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">Home</li>
            <!--<li class="breadcrumb-item">-->
            <!--<a href="#">Error</a>-->
            <!--</li>-->
            <li class="breadcrumb-item active">400</li>

            <li class="breadcrumb-menu d-md-down-none">
                <div class="btn-group" role="group" aria-label="Button group">
                    <a class="btn" href="#">
                        <i class="icon-speech"></i>
                    </a>
                    <a class="btn" href="./">
                        <i class="icon-graph"></i> &nbsp;Painel de Controle</a>
                    <a class="btn" href="#">
                        <i class="icon-settings"></i> &nbsp;Configurações</a>
                </div>
            </li>
        </ol>
        <div class="container-fluid">
            <div class="animated fadeIn">
                <div class="card">
                    <div class="card-header"> <strong>400</strong></div>
                    <div class="card-body">
                        <!--Conteudo-->
                        <p>Solicitação inválida.</p>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>
</body>
</html>