<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <title>Stockfy</title>
    <div th:replace="fragments/header :: header-load"></div>
</head>
<body class="app header-fixed sidebar-fixed aside-menu-fixed sidebar-lg-show">
    <div th:replace="fragments/header-navbar :: app-hearder"></div>
    <div class="app-body">
        <div th:replace="fragments/menu :: side-bar"></div>
        <div layout:fragment="content" class="col-lg-12 col-md-12 col-sm-12 col-xs-12"></div>
    </div>
    <div th:replace="fragments/footer :: rodape"></div>
    <div th:replace="fragments/footer :: footer-load"></div>
</body>
</html>