<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorator="layout">
<head></head>
<body>
<div layout:fragment="content">
    <main class="main">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">Home</li>
            <li class="breadcrumb-item">
                <a th:href="@{/admin/estabelecimentos}">Estabelecimentos</a>
            </li>
            <li class="breadcrumb-item active">Informações</li>

            <li class="breadcrumb-menu d-md-down-none">
                <div class="btn-group" role="group" aria-label="Button group">
                    <a class="btn" href="#">
                        <i class="icon-speech"></i>
                    </a>
                    <a class="btn" th:href="@{/home}">
                        <i class="icon-graph"></i> &nbsp;Painel de Controle</a>
                    <a class="btn" href="#">
                        <i class="icon-settings"></i> &nbsp;Configurações</a>
                </div>
            </li>
        </ol>
        <div class="container-fluid">
            <div class="animated fadeIn">
                <div class="card">
                    <div class="card-header">
                        <strong>Basic Form</strong> Estabelecimento
                    </div>
                    <div class="card-body">
                        <form th:object="${entity}">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="row">
                                    <div class="col-md-6 col-sm-6 col-xs-6">
                                        <div class="col-md-2 col-form-label">Nome</div>
                                        <div class="col-md-10">
                                            <input class="form-control" type="text" placeholder="Digite um nome para o estabelecimento" th:field="*{nome}">
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-6 col-xs-6">
                                        <div class="col-md-2 col-form-label">CNPJ</div>
                                        <div class="col-md-10">
                                            <input class="form-control" type="text" placeholder="CNPJ" th:field="*{cnpj}">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div th:include="pages/endereco :: endereco" />
                            <a th:href="@{/admin/estabelecimentos/{id}/edit(id=${entity.id})}" class="btn btn-primary">Editar
                                Estabelecimento</a>
                            <a th:href="@{/admin/estabelecimentos}" class="btn btn-primary">Listar Todos</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>
</body>
</html>