<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorator="layout">
<head>
</head>
<body>
<div layout:fragment="content">
    <main class="main">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">Home</li>
            <!--<li class="breadcrumb-item">-->
                <!--<a th:href="@{/home}">Admin</a>-->
            <!--</li>-->
            <li class="breadcrumb-item active">Categorias</li>

            <li class="breadcrumb-menu d-md-down-none">
                <div class="btn-group" role="group" aria-label="Button group">
                    <a class="btn" href="#">
                        <i class="icon-speech"></i>
                    </a>
                    <a class="btn" th:href="@{/home}">
                        <i class="icon-graph"></i> &nbsp;Dashboard</a>
                    <a class="btn" href="#">
                        <i class="icon-settings"></i> &nbsp;Settings</a>
                </div>
            </li>
        </ol>
        <div class="container-fluid">
            <div class="animated fadeIn">
                <div class="card">
                    <div class="card-header">
                        <i class="fa fa-align-justify"></i> Categorias
                        <span class="float-right">
                            <a class="btn btn-outline-primary" th:href="@{/admin/categorias/new}">
                                <span class="d-none d-md-block">Nova Categoria</span><i class="fa fa-plus d-lg-none d-xl-none"></i>
                            </a>
                        </span>
                    </div>
                    <div class="card-body">
                        <!--/*@thymesVar id="categorias" type="java.util.List"*/-->
                        <div th:if="${#lists.isEmpty(categorias)}">
                            <p>Nenhum registro encontrado.</p>
                            <hr>
                        </div>
                        <div th:if="${!#lists.isEmpty(categorias)}">
                            <div class="table-responsive">
                                <table class="table table-responsive-sm table-striped">
                                    <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Nome</th>
                                        <th></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <!--/*@thymesVar id="categorias" type="java.util.List"*/-->
                                    <tr th:each="categoria : ${categorias}">
                                        <!--/*@thymesVar id="categoria" type="br.com.uece.frameworks.stockfy.model.Categoria"*/-->
                                        <td th:text="${categoria.id}">Id</td>
                                        <td th:text="${categoria.nome}">Nome</td>
                                        <td>
                                    <span class="float-right">
                                        <a th:href="@{/admin/categorias/{id}/edit(id=${categoria.id})}" class="btn btn-sm btn-outline-info">
                                            <i class="fa fa-pencil-square-o" aria-hidden="true"></i> Edit</a>
                                        <a th:href="@{/admin/categorias/{id}/delete(id=${categoria.id})}" class="btn btn-sm btn-outline-danger">
                                            <i class="fa fa-trash-o" aria-hidden="true"></i> Delete</a>
                                    </span>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <ul class="pagination">
                                <li class="page-item">
                                    <a class="page-link" href="#">Prev</a>
                                </li>
                                <li class="page-item active">
                                    <a class="page-link" href="#">1</a>
                                </li>
                                <li class="page-item">
                                    <a class="page-link" href="#">2</a>
                                </li>
                                <li class="page-item">
                                    <a class="page-link" href="#">3</a>
                                </li>
                                <li class="page-item">
                                    <a class="page-link" href="#">4</a>
                                </li>
                                <li class="page-item">
                                    <a class="page-link" href="#">Next</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>
</body>
</html>